=begin
#jbpm

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 7.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module JBPMAPIClient
  class KIEServerScriptCoreApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Executes command script on execution server, usually used as a batch to configure KIE Server
    # 
    # @param body command script payload
    # @param [Hash] opts the optional parameters
    # @return [Responses]
    def execute_commands(body, opts = {})
      data, _status_code, _headers = execute_commands_with_http_info(body, opts)
      return data
    end

    # Executes command script on execution server, usually used as a batch to configure KIE Server
    # 
    # @param body command script payload
    # @param [Hash] opts the optional parameters
    # @return [Array<(Responses, Fixnum, Hash)>] Responses data, response status code and response headers
    def execute_commands_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: KIEServerScriptCoreApi.execute_commands ..."
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling KIEServerScriptCoreApi.execute_commands"
      end
      # resource path
      local_var_path = "/server/config"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/xml', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/xml', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['jbpm_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Responses')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KIEServerScriptCoreApi#execute_commands\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
